<nav  id="nav">
<ul>
   <li><%= link_to 'Home', 'index.html' %></li>
   <li><%= link_to 'Research', '/research.html', relative: true %></li>
   <li><%= link_to 'News', '/news.html', relative: true %></li>
   <li><%= link_to 'Teaching', '/teaching.html', relative: true %></li>
   <li><%= link_to 'Students', '/students.html', relative: true %></li>
   <li><%= link_to ' Shaileshh Bojja Venkatakrishnan', 'index.html', relative: true %></li>
</ul>

</nav>
