---
title: "News"
layout: layout2
---
<h1>News</h1>

<h2>Services</h2>

<p>Special issue editor: Emerging networks and blockchain technology (<a href = "https://www.mdpi.com/journal/mathematics/special_issues/KK83053602">https://www.mdpi.com/journal/mathematics/special_issues/KK83053602</a>). Please consider submitting your work.</P>

<ul>
  <% data.service.each do |serv| %>
    <% if serv.link %>
        <li>
            <%= serv.role %> Workshop on <a href="<%= serv.link %>" target="_blank"><%= serv.conference %></a> (part of <a href="<%= serv.link2 %>" target="_blank"><%= serv.conference2 %></a>)
        </li>
    <% else%>
        <li>
            <%= serv.role %> <%= serv.conference %>
        </li>
    <% end%>
  <% end %>
</ul>

<h2> Some articles on Dandelion</h2> 

<p>(papers <a href="http://delivery.acm.org/10.1145/3090000/3084459/a21-bojja-venkatakrishnan.pdf?ip=73.119.141.218&id=3084459&acc=CHORUS&key=4D4702B0C3E38B35%2E4D4702B0C3E38B35%2E4D4702B0C3E38B35%2E6D218144511F3437&__acm__=1534623210_49131a82ded80972ad1ab853bc655cdc" target="_blank">here</a> and <a href="https://arxiv.org/pdf/1805.11060.pdf" target="_blank">here</a>): </p>

<ul>
  <% data.articlesOnDandelion.each do |article| %>
    <li>     
      <a href="<%= article.link %>" target="_blank"><%= article.title %></a>
    </li>
  <% end %>
</ul>

<img src="/images/Dandelion.jpeg" alt="Photo of dandelion" style="max-width: 100%; height: auto; width: 300px;" />

